.review{
    height: 200px;
   
    color: black;
    text-align: center;
    justify-content: center;
   
}
.img-review{
    height: 50px;
    text-align: center;
    width: 50px;
    border-radius: 50%;
}